.root {
  --bright-teal: #278eae 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
}

/* < --- CSS navigation header --- > */

.header {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 1px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.center {
  display: flex;
  max-width: 10%;
  max-height: 10%;
  margin-left: 100px;
  margin-right: auto;
  margin-bottom: -25px;
}

.header h1 {
  display: flex;
  margin-left: -300px;
  margin-bottom: 10px;
  display: inline;
  font-size: 48px;
  position: relative; top: 30px;
}


.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav ul li {
  display: inline;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: -24px;
  position: relative; top: 30px;
  border-bottom: solid 2px #278eae;
}

.nav ul li a {
  color: #ffffff;
  text-decoration: none;
}



/* < --- CSS hero image --- > */

.hero {
  position: relative;
  height: 150px;
  width: 100%;
  margin: 0px;
   background-image: url(../Images/herobanner.png);
  background-size: cover;
  background-position: center; 
  color: #ffffff;
}

.bottom-right {
  position: absolute;
  bottom: -15px;
  right: 32px;
}


/*< --- CSS about me and contact --- > */

.about-row {
  margin: 0px 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


.about-card {
  position: absolute; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
  transition: all 0.5s ease-in-out var(--bright-teal);
}

.about-header {
  position: relative;
  display: flex;
  flex-wrap:wrap;
  width: 20%;
  padding: 0.5rem 1rem;
  border-right: 5px solid #278eae;
}

.about-body {
  width: 100%;
  position: relative; left: 150px; bottom: 100px;
}

.about-card:hover,
.about-card:hover .about-header {
  box-shadow: inset 0px 0px 8px var(--bright-teal), 0 0 15px var(--bright-teal) ;
}

@media screen and (min-width: 768px) {
  .about {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .about:last-child {
    flex-grow: 1;
  }
}

@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .about {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

/* < --- CSS portfolio --- > */

.subHeading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
}

#portfolioGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "horiseon horiseon horiseon"
  "bootstrap bootstrap generator"
  "console api generator"
  ;
}

#horiseon {
  grid-area: horiseon;
    background-image: url("../Images/Horiseonwebpage.png");

}
#bootstrap {
  grid-area: bootstrap;
    background-image: url("../Images/Bootstrap.png");
}

#console {
  grid-area: console;
    background-image: url("../Images/consolefinance.png");
}

#generator {
  grid-area: generator;
    background-image: url("../Images/passwordgenerator.png");
}

#api {
  grid-area: api;
    background-image: url("../Images/webapis.png");
}

.portfolioGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 50px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid #278eae;
}

@media screen and (min-width: 768px) {
  .portfolioGrid {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .portfolioGrid:last-child {
    flex-grow: 1;
  }
}

@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .subHeading{
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

/* < --- CSS CV --- > */

#CV {
  display: flex;
  align-items: center;
  margin-top: 300px;
  margin-bottom: -150;
  margin-left: 20px;
}


/* < --- CSS contact --- > */

.contact-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.contact {
  flex: 1 0 100%;
  padding: 1.5rem;
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
  transition: all 0.5s ease-in-out var(--bright-teal);
}

.contact-header {
  position: relative;
  margin: -4rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  border-right: 8px solid #278eae;
}

.contact-card:hover,
.contact-card:hover .contact-header {
  box-shadow: inset 0px 0px 8px var(--bright-teal), 0 0 15px var(--bright-teal);
}


@media screen and (min-width: 768px) {
  .contact {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .contact:last-child {
    flex-grow: 1;
  }
}

@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .contact{
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

